{% extends 'base.html' %}

{% block content %}
<br>
<br>
<center>
<div class="row row-cols-1 row-cols-md-4 g-3 justify-content-center" style="max-width: 70rem;">
    <div class="col">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/ssenseweb/image/upload/w_1280,q_90,f_auto,dpr_auto/v1534181654/kxclgomkmjmgxacgtxln.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Martin Margiela wanted a shoe that gave the illusion of a bare foot resting on a heel. The heel is chunky and high from the side but narrow from the front, and the leather was a traditionally masculine choice. The clasps that run up the inner part of the boots were references to the original design he pulled from—he had just come back from a trip to Japan when he designed his own.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.pinimg.com/originals/6c/ff/b1/6cffb157793b206c391e7be3ae2e1c5d.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">For the tabi, he was referencing the Japanese worker’s shoe, which traces its lineage as far back as the 15th century. Tabi began as socks. The split-toe design was thought to promote balance through the separation of the big toe—a holistic reflexology strategy that promotes a clear mind. It’s also considered to be connected to your sense of self, and it just happened to fit the thonged sandals commonly worn at the time. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.pinimg.com/564x/f3/9d/42/f39d4254b87b80e70bbefff3b4b6c023.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Margiela used the body as another fabric to play with and made absence as effective a design choice as the excess displayed by the dominant labels of that era. The finale culminated in what has since become legend: the models emerged in white lab coats identical to those Margiela’s team wore, with their shoes dipped in red paint, leaving strange, red markings on the runway—not quite footprints, not quite hoofprints.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/ssenseweb/image/upload/w_1280,q_90,f_auto,dpr_auto/v1534181654/kxclgomkmjmgxacgtxln.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Margiela took a traditional idea, changed it slightly, and our reaction to processing something so familiar and so strange infected us. People love the oddness of Margiela’s tabi like a precious, open secret, but they’re just as likely to be confused by their ugliness and perplexed by other people’s devotion to them. They have become shorthand for a specific philosophy in fashion: that something doesn’t need to be beautiful to be moving, that the unusual can be beautiful, and that the smallest details can lead to the most enduring results.</p>
        </div>
      </div>
    </div>
  </div>

  
</center>

<br>
<br>
<p>(source: https://www.ssense.com/en-us/editorial/fashion/the-uncanny-appeal-of-margielas-tabi-boots)</p>
{% endblock %}
