{% extends 'base.html' %}

{% block content %}
<div>
  <br>
  <br>
  <center>
<h1> This site is dedicated to my favorite shoe: 
</h1>
</center>
<br>
<br>
<body>
<center>
<div class="row row-cols-1 row-cols-md-1 g-4 justify-content-center" style="max-width: 18rem;">
        <div class="col">
          <div class="card text-dark bg-light mb-3">
            <h5 class="card-title text-center"></h5>
            <img src="https://i.pinimg.com/564x/2a/9c/60/2a9c60cebf942b8dfc4ac43f3ebbf4fa.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <p class="card-text text-center"></p>
              <a href="/about" class="btn btn-primary"style="background-color: #9b0e09">About</a>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-1 g-4 justify-content-center" style="max-width: 18rem;">
            <div class="col">
              <div class="card text-dark bg-light mb-3">
                <h5 class="card-title text-center"></h5>
                <img src="https://i.pinimg.com/564x/cc/fe/e0/ccfee0b3873363251648fbc81d2293ae.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <p class="card-text text-center"></p>
                  <a href="/gallery" class="btn btn-primary" style="background-color: #9b0e09">Gallery</a>
                </div>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-1 g-4 justify-content-center">
                <div class="col">
                  <div class="card text-dark bg-light mb-3 justify-content-center" style="max-width: 18rem;">
                    <h5 class="card-title text-center"></h5>
                    <img src="https://i.pinimg.com/564x/cb/22/68/cb2268c4fee37b8a5efef64df7709bb5.jpg" class="card-img-top" alt="..." >
                    <div class="card-body text-center">
                      <p class="card-text text-center"></p>
                      <a href="/margiela" class="btn btn-primary" style="background-color: #9b0e09">Maison Margiela</a>
                    </div>
                  </div>
                </div>
            </center>
</body>
{% endblock %}